
footer{
	height: 1.2933rem;
	width: 100%;
	background-color: #FFFFFF ;
	border-top: 0.0133rem solid #d9d9d9;
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
}

footer div{
	display: block;
	width: 2.5rem;
	
}
footer div a{
	display: block;
	width: 100%;
	height: 1.16rem;
	padding-top: 0.1333rem;
}
footer div a figure{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	margin: auto;
	
}

footer a figure figcaption{
	text-align: center;
	width: 100%;
	color: #929292;
	font-size: 0.32rem;
}
footer div figure>div{
	width: 0.6rem;
	height: 0.6rem;
	margin: auto;
	
}
.clickafter a figure figcaption{
	color: red;
}
.news-btn{
	
	background: url(../images/news-footer.png) no-repeat;
	background-size: 1.22rem;
}
.play-btn{
	background: url(../images/play-footer.png) no-repeat;
	background-size: 1.22rem;
}
.talk-btn{
	background: url(../images/talk-footer.png) no-repeat;
	background-size: 1.22rem;
}
.mine-btn{
	background: url(../images/mine-footer.png) no-repeat;
	background-size: 1.22rem;
}
.clickafter a figure div{
	background-position: right top;
}



.play-main{
	width: 100%;
	height: 5.28rem;
	background: #fff;
	padding-top: 0.1px;
	position: relative;
}
.play-main>a>p{
	font-size: 0.4133rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 0.2666rem;
	margin-top: 0.36rem;
	margin-bottom: 0.3066rem;
}
.play-main>a>img{
	width: 94.94%;
	height: 3.1466rem;
	margin-left: 0.2666rem;
}
.play-main>a>i{
	font-style: normal;
	display: inline-block;
	color: #b5b5b5;
	font-size: 0.2933rem;
	position: absolute;
	left: 0.2666rem;
	bottom: 0.32rem;
}
.play-main>a>span{
	display: inline-block;
	padding: 0 0.1rem 0 0.1rem;
	border-radius: 20px;
	background: #f1f1f1;
	position: absolute;
	bottom: 0.32rem;
	right: 2.7rem;
	text-align: center;
	font-size: 0.2933rem;
}
.play-main>a>div{
	display: inline-block;
	padding: 0 0.1rem 0 0.1rem;
	border-radius: 5px;
	background: #ff780b;
	position: absolute;
	right: 0.8933rem;
	bottom: 0.32rem;
	color: #fff;
	text-align: center;
	font-size: 0.24rem;
}
.play-main>a>b>img{
	width: 0.44rem;
	position: absolute;
	bottom: 0.2666rem;
	right: 0.2666rem;
}

.swiper-slide>img{
	width: 100%;
}

